<div>
  <h1>Productos</h1>
  <p>Bienvenido <b>{{user.name}}</b> - Rol: {{user.rol}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Correo: {{user.email}}</p>

  <a href='/api/sessions/logout'><button>Cerrar sesión</button></a>
</div>