<div>
  <h1>Id carrito: {{_id}}</h1>
  <hr>
  <h2>Productos en el carrito</h2>
  <ol>
    {{#each products}}
      <li>{{this.product.title}} - ${{this.product.price}}</li>
    {{/each}}
  </ol>
</div>