<div>
  <h1>Mi perfil</h1>
  
  <p>Bienvenido {{user.name}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Correo: {{user.email}}</p>

  <a href='/api/sessions/logout'><button>Cerrar sesión</button></a>
</div>

